<%= link_to root_path, class: "opacity-90 hover:opacity-100", data: {"turbo-transition" => "title"} do %>
  <span>Turbo</span> <span class="font-bold text-red-500">Music</span> <span>Drive</span>
  <hr class="my-4">
<% end %>

<div class="py-4 flex justify-items-start">
  <div id="<%=dom_id(@album, :cover) %>" class="w-[170px] h-[170px] bg-gray-200 object-fill overflow-hidden mr-4" data-turbo-transition="cover">
    <%= image_tag @album.cover_url, class: "w-full h-full object-cover" %>
  </div>
  <div class="flex flex-col justify-center">
    <div class="flex flex-row items-center">
      <h2 class="text-header-3"><%= @album.title %></h2>
    </div>
    <%= link_to @album.artist.name, artist_path(@album.artist), class: "text-header-4 text-red-500 hover:text-black transition-color" %>
  </div>
</div>

<hr class="my-4">

<ul class="mt-2">
  <%= render @album.tracks %>
</ul>
