<%= turbo_frame_tag dom_id(@artist, :analytics) do %>
  <div class="flex justify-end items-center">
    <div class="flex flex-col items-center mr-2">
      <div class="text-7xl">
        <%= @analytics.total %>
      </div>
      <h3 class="text-plain text-gray-600"># listeners</h3>
    </div>
    <ul class="text-sm mr-2 flex flex-col justify-between">
      <li class="transition-colors <%= @analytics.period == "week" ? "text-red-500" : "text-black" %>">
        <%= link_to "weekly", artist_analytics_path(@artist, period: :week), class: "hover:text-red-700"  %>
      </li>
      <li class="transition-colors <%= @analytics.period == "month" ? "text-red-500" : "text-black" %>">
        <%= link_to "monthly", artist_analytics_path(@artist, period: :month), class: "hover:text-red-700"  %>
      </li>
      <li class="transition-colors <%= @analytics.period == "year" ? "text-red-500" : "text-black" %>">
        <%= link_to "yearly", artist_analytics_path(@artist, period: :year), class: "hover:text-red-700"  %>
      </li>
    </ul>
  </div>
<% end %>
